<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ global.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ global.intro }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="{{ "favicon.png" | asset_url }}">
    {% include "fonts" %}
    {{ "app.css" | asset_url | stylesheet_tag }}
  </head>
  <body class="post">
    <div class="wrapper">
      {% include "header" %}
      <main>
        <article>
          <header>
            <h2>{{ model.title }}</h2>
            {% assign post = model %}
            {% include "article-date" %}
          </header>
          <hr>
          {% block content %}{% endblock %}
          <footer>
            {% include "article-tags" %}
          </footer>
        </article>
      </main>
    </div>
    {% include "footer" %}
    {% include "analytics" %}
  </body>
</html>
