{% layout "default" %}
{% block content %}
	{% collection "blog" by 10 query 'tags={{ mixture.route.tag }}' order desc %}
		{% if collection.size == 0 %}
			{% include "no-articles" %}
		{% else %}
			{% if mixture.url == "tag" and collection.size == 1 %}
				<h2 class="tag-heading">{{ collection.size }} post about {{ mixture.route.tag | camelize }}</h2>
			{% else %}
				<h2 class="tag-heading">{{ collection.size }} posts about {{ mixture.route.tag | camelize }}</h2>
			{% endif %}
			<hr>
			{% assign currentpage = collection.current_page %}
			{% include "article" with collection.items %}
			{% include "pagination" %}
		{% endif %}
	{% endcollection %}
{% endblock %}
